p {
    font-family: Helvetica;
}
h1 {
    background-color: lightblue;
    font-size: 30pt; 
    margin: 10px 100px 10px 100px;  
    padding: 10px 5px 10px 5px;
    font-family: Lucida Sans;
    text-align: center;
}
h1 span{
    border: solid, 5px;
    padding: 10px;
    
}
body {
    background-color: rgb(248, 238, 238);
    font-size: 12pt;
}    
div{
    float:left;
    margin-right:5px;
}
.images {
    font-family: Arial;
    color: rgb(10, 10, 168);
}    
div img {
    height:300px;
    width:460px;
    margin: 0px 5px 0px 5px;
    border: 3px solid black;
    font-family: Arial;
}
div p {
    font-family: cursive;
}
article { 
    display: block;
}
#reference {
    font-family: Verdana; 
}
a {
    text-decoration: none;
    color: rgb(212, 32, 32);
}
footer {
    font-family: Arial;
}